.delete-notebook-modal-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 20px;
    padding-left: 30px;
    margin: auto;
    height: 270px;
    width: 510px;
    border-radius: 5px;
    position: relative;
}

.main-delete-text {
    margin-top: 5px;
    font-weight: 550;
}

.delete-title-text {
    margin-top: 50px;
    font-size: 14px;
}

.delete-notebook-title-text {
    margin-top: 5px;
    height: 20px;
}

input {
    height: 38px;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: 97%;
    padding-left: 10px;
}

.delete-notebook-buttons {
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: flex;
    gap: 10px
}

.cancel-delete-notebook-button {
    height: 40px;
    width: 100px;
    background-color: white;
    border: 1px solid black;
}

.cancel-delete-notebook-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.confirm-delete-notebook-button {
    height: 40px;
    width: 100px;
    color: white;
}

.confirm-delete-notebook-button:hover {
    cursor: pointer;
}
.trash-text {
    margin-top: 80px;
}
