/* oldbg = rgb(241, 237, 237) */

.user-page-container {
    display: flex;
    background-color: #F0F0F0;
    height: 100vh;
}

.side-bar-container {
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 250px;
    height: 98vh;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #F0F0F0;
    box-sizing: border-box;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile-button {
    font-size: 40px;
    color: #b7410e;
    background-color: #F0F0F0;
    margin: 10px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.button {
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer
}

.button.notebook {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    width: 230px;
    margin-bottom: 5px;
    height: 45px;
    background-color: blue;
    border-radius: 5px;
    color: white;
}

.button.notebook:hover {
    background-color: rgb(0, 0, 181);
}

.button.note {
    margin-left: 10px;
    margin-right: 10px;
    width: 230px;
    margin-bottom: 5px;
    height: 45px;
    background-color: #419C14;
    border-radius: 5px;
    color: white;
}

.button.note:hover {
    background-color: rgb(0, 131, 0);
}

.button.task {
    margin-left: 10px;
    width: 112px;
    height: 45px;
    background-color: rgb(190, 79, 190);
    margin-right: 5px;
    color: white;
}

.button.task:hover {
    background-color: rgb(122, 50, 122);
}

.button.event {
    width: 111px;
    margin-right: 10px;
    height: 45px;
    color: white;
    background-color: rgb(234, 110, 53);
}

.button.event:hover {
    background-color: rgb(184, 90, 47);
}

.sidebar-menu-buttons {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

.link-menu-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    color: black;
}

.link-menu-button span {
    margin-left: 10px;
}

.menu-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    justify-content: start;
    background-color: transparent;
}

.menu-button:hover {
    background-color: rgb(222, 220, 220);
}

.menu-button.home{
    margin-top: 20px;
}

.menu-button.trash {
    margin-top: 20px;
}

.menu-button.notes {
    margin-top: 20px;
}

.menu-button.notebooks {
    text-decoration: none;
    margin-top: 20px;
}

.menu-button.upgrade {
    margin-top: 290px;
    background-color: orange;
    height: 40px;
    align-items: center;
}

.link-menu-button {
    text-decoration: none;
}

.icon {
    font-size: 20px;
}
