html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(241, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
}

.notes-page-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto;
    height: 100vh;
    background-color: rgb(241, 237, 237);
}

.notes-main-content {
    display: flex;
    padding-left: 30px;
}

.notes-left {
    width: 50%;
}

.notes-section1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.text-notes {
    font-size: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notes-section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    color: darkgray;
}

.note-container {
    border-bottom: 1px solid lightgray;
    width: 550px;
}

.note-container:hover {
    background-color: white;

}

.note-item-title {
    padding: 10px;
}

.note-item-content {
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: gray;
}

.edit-note-button {
    height: 40px;
    width: 100px;
    background-color: rgb(190, 79, 190);
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}

.edit-note-button:hover {
    cursor: pointer;
    background-color: rgb(122, 50, 122);
}

.delete-note-button {
    height: 40px;
    width: 100px;
    background-color: rgb(234, 110, 53);
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
}

.delete-note-button:hover {
    cursor: pointer;
    background-color: rgb(184, 90, 47);

}
.notes-textarea {
    width: 615px;
    margin-top: 10px;
    height: 95vh;
}
