.quill-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .quill-toolbar {
    border: none;
    border-radius: 4px 4px 0 0;
    width: 566px;
    height: 100px;
    background: white;
    z-index: 1;
  }

  .quill-title-input {
    font-size: 1.5rem;
    margin-top: 0px;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 566px;
    height: 100px;
    box-sizing: border-box;
    outline: none;
  }

  .editor-container {
    height: calc(100vh - 345px);
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    width: 566px;
    flex-grow: 1;
    padding: 45px;
    border: none;
    font-size: 1.0rem;
  }

  .editor-button-update {
    width: 565px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: green;
    border-radius: 5px;
    font-weight: lighter;
  }

  .editor-button-update:hover {
    background-color: darkgreen;
  }

  .add-tag-button {
    width: 565px;
    height: 40px;
    cursor: pointer;
    color: gray;
    background-color: white;
    border-radius: 5px;
    font-weight: lighter;
    border: none
  }

  .quill-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    height: 40px;
    margin-left: 50px;
}

.quill-tag {
    background-color: lightgray;
    border-radius: 6px;
    margin: 3px;
    padding: 8px;
    font-size: 14px;
    color: black;
}

.quill-tag-icon {
  color: gray;
  padding: 3px;
}

.quill-note-tags {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  width: 558px;
  background-color: white;
  padding: 3px;
}

.add-tag-button {
  border: 1px solid #ccc;
}

.add-tag-button:hover {
  background-color: lightgray;
}

.quill-tag-input {
  width: 553px;
}
