.quill-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .quill-toolbar {
    border: none;
    border-radius: 4px 4px 0 0;
    width: 566px;
    height: 100px;
    background: white;
    z-index: 1;
  }

  .quill-title-input {
    font-size: 1.5rem;
    margin-top: 0px;
    padding: 45px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 566px;
    height: 100px;
    box-sizing: border-box;
    outline: none;
  }

  .editor-container {
    height: calc(100vh - 245px);
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    width: 566px;
    flex-grow: 1;
    padding: 45px;
    border: none;
    font-size: 1.0rem;
  }

  .editor-button-update {
    width: 565px;
    height: 40px;
    cursor: pointer;
    color: white;
    background-color: green;
    border-radius: 5px;
    font-weight: lighter;
  }

  .editor-button-update:hover {
    background-color: darkgreen;
  }
